.link-hover:hover {
    color: rgb(58, 56, 56);
}

.link-header:hover {
    color: #009688;
}

.main-body {
    text-align: center;
    margin: 1.25rem
}

.dropdown-item {
    text-decoration: none;
    color: #202528;
}